<app-navbar />
<main>
    <main class="min-h-[90vh] w-full flex justify-center items-center px-4 md:px-0 bg-gradient-to-b from-slate-50 via-slate-100 to-slate-900/20">
        <main class="max-w-3xl mx-auto text-center space-y-2">
            <div>
                <main class="inline-flex border border-slate-300 rounded-2xl px-4 py-1 bg-gradient-to-r from-red-500 via-green-500 to-purple-500 bg-clip-text text-transparent">
                    AI plugins are added
                </main>
            </div>
            <h1 class="text-6xl font-semibold tracking-tight">
                <span class="bg-gradient-to-r from-blue-500 via-green-500 to-pink-500 bg-clip-text text-transparent">Track</span> your work, Save your <span class="bg-gradient-to-r from-red-500 via-green-500 to-purple-500 bg-clip-text text-transparent">time</span>
            </h1>
            <p class="text-lg font-medium text-slate-700">
                Track time, boost productivity, and automate billing effortlessly with our smart Time Tracker SaaS—perfect for freelancers, teams, and businesses!
            </p>

            <section class="flex justify-center items-center gap-4 mt-4">
                <a href="/sign-up" class="bg-slate-700 hover:bg-slate-900 rounded-lg px-4 py-1 text-sm text-slate-100 font-medium tracking-tight active:translate-y-1 transition-all duration-200 ease-in-out border border-slate-800">Sign Up</a>

                <a href="/pricing" class="bg-slate-100 rounded-lg px-4 py-1 text-sm text-slate-900 font-medium border border-slate-900 tracking-tight active:translate-y-1 transition-all hover:bg-slate-200 duration-200 ease-in-out ">Learn More</a>
            </section>
        </main>
    </main>
</main>
<app-footer />