<app-navbar />
<div class="bg-slate-50 max-w-7xl mx-auto min-h-[90vh] py-16 px-6 md:px-12">
    <div class="">
      <main class="max-w-3xl mb-8">
        <h2 class="text-5xl font-semibold text-slate-800 mb-3">Frequently asked questions</h2>
        <p class="text-slate-600 mb-3">Have a different question and can’t find the answer you’re looking for? Reach out to our support team by sending us an email and we’ll get back to you as soon as we can.</p>

          <section class="flex items-center gap-4">
            <a routerLink="/sign-up" class="bg-slate-700 hover:bg-slate-900 rounded-lg px-4 py-1 text-sm text-slate-100 font-medium tracking-tight active:translate-y-1 transition-all duration-200 ease-in-out border border-slate-800">Sign Up</a>

            <a routerLink="/pricing" class="bg-slate-100 rounded-lg px-4 py-1 text-sm text-slate-900 font-medium border border-slate-900 tracking-tight active:translate-y-1 transition-all hover:bg-slate-200 duration-200 ease-in-out ">Learn More</a>
        </section>
      </main>

      <main class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <section class="p-6 flex flex-col gap-4 rounded-lg shadow-sm hover:shadow-lg">
          <h1 class="text-xl font-medium text-slate-800 tracking-tight whitespace-normal">What's the best thing about Switzerland?</h1>
          <p class="text-sm font-slate-500 font-normal tracking-tight leading-tight whitespace-normal">I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
        </section>

        <section class="p-6 flex flex-col gap-4 rounded-lg shadow-sm hover:shadow-lg">
          <h1 class="text-xl font-medium text-slate-800 tracking-tight whitespace-normal">What's the best thing about Switzerland?</h1>
          <p class="text-sm font-slate-500 font-normal tracking-tight leading-tight whitespace-normal">I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
        </section>
        <section class="p-6 flex flex-col gap-4 rounded-lg shadow-sm hover:shadow-lg">
          <h1 class="text-xl font-medium text-slate-800 tracking-tight whitespace-normal">What's the best thing about Switzerland?</h1>
          <p class="text-sm font-slate-500 font-normal tracking-tight leading-tight whitespace-normal">I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
        </section>
        <section class="p-6 flex flex-col gap-4 rounded-lg shadow-sm hover:shadow-lg">
          <h1 class="text-xl font-medium text-slate-800 tracking-tight whitespace-normal">What's the best thing about Switzerland?</h1>
          <p class="text-sm font-slate-500 font-normal tracking-tight leading-tight whitespace-normal">I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
        </section>
        <section class="p-6 flex flex-col gap-4 rounded-lg shadow-sm hover:shadow-lg">
          <h1 class="text-xl font-medium text-slate-800 tracking-tight whitespace-normal">What's the best thing about Switzerland?</h1>
          <p class="text-sm font-slate-500 font-normal tracking-tight leading-tight whitespace-normal">I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
        </section>
        <section class="p-6 flex flex-col gap-4 rounded-lg shadow-sm hover:shadow-lg">
          <h1 class="text-xl font-medium text-slate-800 tracking-tight whitespace-normal">What's the best thing about Switzerland?</h1>
          <p class="text-sm font-slate-500 font-normal tracking-tight leading-tight whitespace-normal">I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
        </section>
      </main>

    </div>
  </div>

<app-footer />