<app-navbar />
<main>
    <main class="min-h-[90vh] pt-6">
        <main class="flex flex-col gap-3 max-w-3xl mx-auto text-center">
            <h1 class="text-5xl font-semibold">Pricing <span class="bg-gradient-to-r from-red-500 via-green-500 to-purple-500 bg-clip-text text-transparent">Plans</span></h1>
            <p class="text-lg font-medium tracking-tight leading-tight whitespace-normal text-slate-700">Go through our pricing plans for our application and choose your best affordable plan.</p>
        </main>

        <main class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 max-w-7xl mx-auto py-12 gap-4">
            <main class="border border-slate-400 rounded-sm bg-slate-50 max-w-md h-full px-4 py-3">
                <main class="space-y-1 relative">
                    <h1 class="text-3xl font-semibold tracking-tight">Basic Tier</h1>
                    <p class="text-sm font-slate-600 font-normal tracking-tight leading-tight whitespace-normal">
                        Best for students and solo working individuals to track their personal hobbies, projects..
                    </p>
                </main>
                <hr class="my-3 text-slate-400" />

                <button type="submit" class="w-full bg-slate-700 hover:bg-slate-900 text-slate-100 transition-all duration-200 ease-in-out active:translate-y-1 active:scale-95 text-center text-sm font-medium tracking-tight leading-tight whitespace-normal py-2 rounded-lg cursor-pointer">Get Started</button>

                <main class="flex flex-row gap-3 items-center w-full my-3">
                    <hr class="text-slate-400 flex-1/3" />
        
                    <main class="flex-1/3 text-center">
                        <p class="text-xs font-medium tracking-tight text-slate-900">features you get</p>
                    </main>
        
                    <hr class="text-slate-400 w-full flex-1/3"  />
                </main>
        
                <main class="px-4">
                    <ul class="list-disc">
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">Unlimited Tracking Tasks</li>
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">Single user experience</li>
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">15 Projects on Real time monitoring</li>
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">Reports & Analytics</li>
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">Customizable Dashboards & notifications</li>
                    </ul>
                </main>

            </main>
            <main class="border border-slate-400 rounded-sm bg-slate-50 max-w-md h-full px-4 py-3">
                <main class="space-y-1 relative">
                    <h1 class="text-3xl font-semibold tracking-tight">Professional Tier</h1>
                    <p class="text-sm font-slate-600 font-normal tracking-tight leading-tight whitespace-normal">
                        Best for students and solo working individuals to track their personal hobbies, projects..
                    </p>

                    <main class="text-xs font-medium tracking-tight bg-slate-700 cursor-pointer text-slate-50 py-1 px-3 rounded-md absolute top-2 right-2">Popular</main>
                </main>
                <hr class="my-3 text-slate-400" />

                <button type="submit" class="w-full bg-slate-700 hover:bg-slate-900 text-slate-100 transition-all duration-200 ease-in-out active:translate-y-1 active:scale-95 text-center text-sm font-medium tracking-tight leading-tight whitespace-normal py-2 rounded-lg cursor-pointer">Get Started</button>

                <main class="flex flex-row gap-3 items-center w-full my-3">
                    <hr class="text-slate-400 flex-1/3" />
        
                    <main class="flex-1/3 text-center">
                        <p class="text-xs font-medium tracking-tight text-slate-900">features you get</p>
                    </main>
        
                    <hr class="text-slate-400 w-full flex-1/3"  />
                </main>
        
                <main class="px-4">
                    <ul class="list-disc">
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">Unlimited Tracking Tasks</li>
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">Single user experience</li>
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">15 Projects on Real time monitoring</li>
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">Reports & Analytics</li>
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">Customizable Dashboards & notifications</li>
                    </ul>
                </main>

            </main>
            <main class="border border-slate-400 rounded-sm bg-slate-50 max-w-md h-full px-4 py-3">
                <main class="space-y-1 relative">
                    <h1 class="text-3xl font-semibold tracking-tight">Entreprise Tier</h1>
                    <p class="text-sm font-slate-600 font-normal tracking-tight leading-tight whitespace-normal">
                        Best for students and solo working individuals to track their personal hobbies, projects..
                    </p>
                </main>
                <hr class="my-3 text-slate-400" />

                <button type="submit" class="w-full bg-slate-700 hover:bg-slate-900 text-slate-100 transition-all duration-200 ease-in-out active:translate-y-1 active:scale-95 text-center text-sm font-medium tracking-tight leading-tight whitespace-normal py-2 rounded-lg cursor-pointer">Get Started</button>

                <main class="flex flex-row gap-3 items-center w-full my-3">
                    <hr class="text-slate-400 flex-1/3" />
        
                    <main class="flex-1/3 text-center">
                        <p class="text-xs font-medium tracking-tight text-slate-900">features you get</p>
                    </main>
        
                    <hr class="text-slate-400 w-full flex-1/3"  />
                </main>
        
                <main class="px-4">
                    <ul class="list-disc">
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">Unlimited Tracking Tasks</li>
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">Single user experience</li>
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">15 Projects on Real time monitoring</li>
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">Reports & Analytics</li>
                        <li class="text-slate-700 font-medium tracking-tight leading-tight whitespace-normal hover:underline text-xs hover:text-slate-900 transition-all duration-200 ease-in-out">Customizable Dashboards & notifications</li>
                    </ul>
                </main>

            </main>
        </main>
    </main>
</main>
<app-footer />