<main class="min-h-[10vh] flex w-full justify-between px-4 items-center">
    <a routerLink="/" class="flex flex-row gap-1 items-center">
        <img src="/random.png" alt="random" class="w-12 h-12" />
        <h1 class="text-2xl md:block hidden tracking-tight whitespace-normal font-medium text-slate-900">Toare</h1>
    </a>

    <main class="hidden md:flex flex-row items-center rounded-2xl border border-slate-900 relative">
        <a routerLinkActive="border border-slate-300 rounded-bl-2xl rounded-l-2xl" routerLink="/pricing" class="hover:underline text-sm tracking-tight transition-all duration-200 ease-in-out font-medium underline-offset-2 hover:bg-slate-900 hover:text-slate-100 py-1 rounded-bl-2xl rounded-l-2xl px-4 object-contain">Pricing</a>
        <a routerLinkActive="border border-slate-300" routerLink="/faqs" class="hover:underline text-sm tracking-tight transition-all duration-200 ease-in-out font-medium underline-offset-2 hover:bg-slate-900 hover:text-slate-100 py-1 px-4 object-contain">Faq</a>
        <a routerLinkActive="border border-slate-300" routerLink="/testimonials" class="hover:underline text-sm tracking-tight transition-all duration-200 ease-in-out font-medium underline-offset-2 hover:bg-slate-900 hover:text-slate-100 py-1 px-4 object-contain">Testimonials</a>
        <a routerLinkActive="border border-slate-300 rounded-br-2xl rounded-r-2xl" routerLink="/contact" class="hover:underline text-sm tracking-tight transition-all duration-200 ease-in-out font-medium underline-offset-2 hover:bg-slate-900 hover:text-slate-100 py-1 rounded-br-2xl rounded-r-2xl px-4 object-contain">Contact Us</a>
    </main>

    <section class="flex justify-between items-center gap-4">
        <a *ngIf="!isLoggedin" routerLink="/sign-up" class="bg-slate-100 rounded-lg px-4 py-1 text-sm text-slate-900 font-medium border border-slate-900 tracking-tight active:translate-y-1 transition-all hover:bg-slate-200 duration-200 ease-in-out ">Get Started</a>

        <a routerLink="/sign-in" *ngIf="!isLoggedin" class="bg-slate-700 hover:bg-slate-900 rounded-lg px-4 py-1 text-sm text-slate-100 font-medium tracking-tight active:translate-y-1 transition-all duration-200 ease-in-out border border-slate-800">Sign In</a>

        <a *ngIf="isLoggedin" routerLink="/overview" class="bg-slate-100 rounded-lg px-4 py-1 text-sm text-slate-900 font-medium border border-slate-900 tracking-tight active:translate-y-1 transition-all hover:bg-slate-200 duration-200 ease-in-out ">Dashboard</a>

        <button (click)="showModal()" *ngIf="isLoggedin" class="bg-red-500 hover:bg-red-600 rounded-lg px-4 py-1 text-sm text-slate-100 font-medium tracking-tight active:translate-y-1 transition-all duration-200 ease-in-out border border-red-500">Logout</button>
    </section>

    <div *ngIf="showLogoutModal" class="fixed inset-0 flex items-center justify-center bg-slate-800/40 backdrop-blur-sm ease-in-out bg-opacity-50 z-50">
        <div class="bg-white p-6 rounded-lg shadow-lg w-80">
            <main class="relative">
                <h2 class="text-xl font-semibold tracking-tight text-gray-800">Confirm Logout</h2>
                <p class="text-sm text-gray-600 mt-1 whitespace-normal tracking-tight leading-tight">Are you sure you want to log out of your account?</p>
            </main>

            <hr class="text-gray-300 my-3" />
            
            <div class="mt-4 flex justify-end gap-4">
                <button (click)="closeModal()"
                    class="px-4 py-1 rounded-lg text-sm border border-slate-400 hover:bg-slate-800/20 transition-all duration-200 ease-in-out active:translate-y-1 active:scale-95 leading-0">
                    Cancel
                </button>
                
                <button (click)="LogoutUser()"
                    class="bg-red-500 hover:bg-red-600 text-white px-4 py-1 rounded-lg text-sm transition-all duration-200 ease-in-out active:translate-y-1 active:scale-95">
                    Yes, Logout
                </button>
            </div>
        </div>
    </div>
</main>